<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>

        <!-- 1 Fragmento para el listado de productos-->
        <section th:fragment="listadoProductos" id="productos">
            <div class="row row-cols-2">
                <h2 class="inline">[[#{index.nuestrosProductos}]]</h2>
                <div id="resultsBlock"> <!-- este elemento va a ser reemplazado con la cantidad de productos que hay algo en el carrito en js -->

                </div>
            </div>
            <div class="row row-cols-3">
                <div class="card p-2" th:each ="p : ${productos}">
                    <figure>
                        <img th:src="${p.rutaImagen}" height="200" alt="alt"/>
                        <figurecaption>
                            [[${p.precio}]] ([[${p.existencias}]])
                        </figurecaption>
                    </figure>
                    <form>
                        <input type="hidden" name="idProducto" th:value="${p.idProducto}"/>
                        <button class="btn btn-light" id="addCar" name="addCar" onclick="addCard(this.form)" type="button">
                            <i class="fas fa-cart-plus"></i>
                        </button>
                    </form>
                    <div class ="card-tittle">
                        <h4>[[${p.descripcion}]]</h4>                       
                    </div>
                    <div class="card-body">
                        <p class ="card-text"> [[${p.detalle}]]</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Presenta el ícono del carrito de compras-->
        <section th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}"> <!-- a menos que lista items esté vacía muestre esto -->
            <form action="/carrito/listado">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    [[#{carrito.verCarrito}]] [[${listaTotal}]]
                </button>
            </form>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion del carrito -->
        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{carrito.titulo}]]</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{carrito.descripcion}]]</th>
                                            <th>[[#{carrito.precio}]]</th>
                                            <th>[[#{carrito.cantidad}]]</th>
                                            <th>[[#{carrito.total}]]</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td style="text-align: end">[[${item.precio}]]</td>
                                            <td style="text-align: center">[[${item.existencias}]]</td>
                                            <td style="text-align: end">[[${item.precio*producto.existencias}]]</td>
                                            <td><a th:href="@{/carrito/eliminar/}+${producto.idProducto}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/carrito/modificar/}+${producto.idProducto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items == null or productos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{carrito.totalCompra}]]</h3>
                                <h4 class="fs-2">[[${carritoTotal}]]</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/}" class="btn btn-success"> [[#{carrito.seguirComprando}]]</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-center bg-info text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/facturar/carrito}" class="btn btn-info"> [[#{carrito.facturar}]]</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </body>
</html>