<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> 

    <head th:replace="~{layout/plantilla :: head}"> <!-- para llamar al encabezado de la plantilla -->
        <title>TechShop</title>
    </head>
    <body> 
        <header th:replace="~{layout/plantilla :: header}"/> 
        <div class="card"> <!-- en esta columna hay una tarjeta -->
            <div class="row m-5 justify-content-md-center">
                <div class="col-md-6">
                    <div class="card-header bg-success text-white">
                        <h2>[[#{login.login}]]</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" th:action="@{/login}">
                            <div class="row my-3 form-group"> <!-- en cada fila hay 12 columnas -->
                                <label class="col-md-5" for="username">
                                    <i class="fas fa-user-lock"></i>   [[#{login.username}]]
                                </label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" name="username"/>
                                </div>
                            </div>
                            <div class="row my-3 form-group"> <!-- en cada fila hay 12 columnas -->
                                <label class="col-md-5" for="username">
                                    <i class="fas fa-key"></i>   [[#{login.password}]]
                                </label>
                                <div class="col-md-7">
                                    <input class="form-control" type="password" name="password"/>
                                </div>
                            </div>
                            <div class="card-footer col text-center">
                                <button class="btn btn-primary">
                                    <a class="btn" th:href="@{/registro/nuevo}">
                                        <i class="fas-fa-user-plus"></i> [[#{accion.registrar}]] <!-- en el archivo de mensajes -->
                                    </a>
                                </button>
                                <button class="btn btn-warning">
                                    <a class="btn" th:href="@{/registro/recordar}">
                                        <i class="fas-envelope"></i> [[#{accion.recordar}]] <!-- en el archivo de mensajes -->
                                    </a>
                                </button>
                                <button class="btn btn-success" type="submit">
                                    <span class="btn"><i class="fas fa-sign-in-alt"></i>  [[#{login.login}]]</span> 
                                    
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>