<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para los tabs de las categorias-->
        <section th:fragment="tabsCategorias" id="categorias">
            <div class="row py-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/pruebas/listado">
                            [[#{pruebas.todas}]]
                        </a>
                    </li>
                    <li th:each= "c : ${categorias}" class="nav-item">
                        <a class="nav-link" href="@{/pruebas/listado/} + ${c.idCategoria}">
                            [[${c.descripcion}]]
                        </a>
                    </li>
                </ul>
            </div>        
        </section>

        <!-- 2 Fragmento para el listado de productos-->
        <section th:fragment="listadoProductos" id="productos">
            <div class="row row-cols-3">
                <div class="card p-2" th:each ="p : ${productos}">
                    <figure>
                        <<img th:src="${p.rutaImagen}" height="200" alt="alt"/>
                        <figurecaption>
                            [[${p.precio}]] ([[${p.existencias}]])
                        </figurecaption>
                    </figure>
                    
                    <div class ="card-tittle">
                        <h4>[[${p.descripcion}]]</h4>                       
                    </div>
                    <div class="card-body">
                        <p class ="card-text"> [[${p.detalle}]]</p>
                    </div>
                </div>
            </div>
        </section>       
    </body>
</html>